<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <%= partial 'partials/top_bar' %>
  <%= partial 'partials/navigation_bar' %>
  <%= partial 'partials/main_area' %>
</div>

<%#= partial 'partials/svg_components/piechart' %>
<%#= partial 'partials/svg_components/chart' %>
