<div class="demo-options mdl-card mdl-color--blue-grey-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3><%= t('main_area.add_node_form.title') %></h3>
        
        <div class="mdl-textfield mdl-js-textfield">
            <input id='new_node_address' class="mdl-textfield__input" type="text" pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" id="node_address">
            <label class="mdl-textfield__label" for="node_address"><%= t('main_area.add_node_form.text_hint' )%></label>
            <span class="mdl-textfield__error"><%= t('main_area.add_node_form.invalid_format') %></span>
        </div>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <input type="button" 
            value="<%= t('main_area.add_node_form.add_button') %>" 
            onclick="add_node()" 
            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50"/>
    </div>
    
</div>