<div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    <h3>
      <%= t('main_area.node_list.title') %>
    </h3>

    <ul id='node-list'>
    </ul>
    
  </div>
</div>