<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <%# TODO Let the .js file to modify width and height %>
    <h3><%= t('main_area.top.gpu_utilization_plot.title')%></h3>
    <canvas id="gpu_utilization_plot" width="1050" height="300"></canvas>
</div> 

